.textbox{
    height: 40px;
    border-radius: 12px;
    font-size: 16px !important;
    box-sizing: border-box;
}
.suffixSeparator{
    height: 16px;
    width: 1px;
    border-right: 1px solid rgba(255,255,255,0.16);
    margin-right: -4px;
}
.textboxSuffix{
    width: 80px;
    height: 40px;
    display: flex;
    position: relative;
    flex-direction: row;
    line-height: 38px;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    border-radius: 0 12px 12px 0;

    .suffixText{
        margin-left: 3px;
        font-size: 16px;
    }
}
