.headerMenu{
  height: 44px;
}
.menuItem{
  border: none !important;
  height: 44px;
  width: 32px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--semi-color-text-1);
  .menuItemIcon{
    align-items: center;
    justify-items: center;
    display: flex;
    line-height: 24px;
    height: 24px;
    width: 16px;
  }
  .menuItemText{
    font-size: 10px;
    line-height: 20px;
  }

}

.avatarContainer{
  width: 50px;
  height: 44px;
  align-items: center;
  display: flex;
  justify-content: end;
}
.avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--semi-color-bg-3);
  font-size: 10px;
  line-height: 32px;
  text-align: center;
  border: 1px solid transparent
}
