.headerMenu{
  height: 44px;
}
.menuItem{
  border: none !important;
  height: 44px;
  width: 32px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--semi-color-text-1);
  opacity: .8;
  &:hover{
    opacity: 1;
    color: var(--semi-color-text-0)
  }
  .menuItemIcon{
    align-items: center;
    justify-items: center;
    display: flex;
    line-height: 24px;
    height: 24px;
    width: 16px;
  }
  .menuItemText{
    font-size: 10px;
    line-height: 20px;
  }

}

.avatarContainer{
  width: 52px;
  height: 44px;
  align-items: center;
  display: flex;
  justify-content: end;
}
.avatar{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fe2c55;
  font-size: 12px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent
}
