.swiperNavigationContainer{
    position: absolute;
    height: fit-content;
    right: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 56px;
    width: 36px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.swiperNavigationContainerFullscreen{
    position: absolute;
    height: fit-content;
    right: 23px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 56px;
    width: 36px;
    top: 0;
    bottom: 256px;
    margin: auto;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.swiperNavigationButtons{
    background: rgb(43,43,53) !important;
    border-radius: 18px;
    &:hover{

        background: rgb(48,49,59) !important;
    }
}

.swiperNavigationButton{
    background: transparent !important;
    height: 40px;
    width: 36px;
    color: var(--semi-color-text-2) !important;
    &:hover{
        color: var(--semi-color-text-1) !important;
    }
}
