.player{
    background: transparent !important;
    height: 100%;
}

.backgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: blur(60px);
    opacity: 0.8;
    transform: scale(1.2);
    pointer-events: none;
}

.container{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: start;
}
.overlay{
    position: absolute;
    bottom: 44px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    overflow: visible;
}
.videoInfo{
    position: absolute;
    bottom: 12px;
    width: max-content;
    max-width: 300px;
    left: 16px;
    z-index: 30;
    color: var(--semi-color-text-0);
    text-shadow: .5px .5px 1px rgba(0, 0, 0, .7);
    font-size: 16px;
    font-weight: 500;
    .videoAuthorAndDate{
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        margin-bottom: 2px;
        .uploadDate{
            margin-left: 5px;
            font-size: 12px;
            font-weight: 400;
            color: var(--semi-color-text-2);
        }
    }
    .videoDesc{
        font-size: 14px;
        line-height: 22px;
    }
}

.actionList{
    position: absolute;
    right: 16px;
    bottom: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    z-index: 30;
    width: 50px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.2)) drop-shadow(0 0 8px rgba(0,0,0,.3));
    .actionItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        &:hover{
            .actionIconWrapper{
                transform: scale(1.2);
            }
            .actionIcon{
                animation: leftToRightBounce .6s ease-in-out;
            }
        }
    }
    .actionIconWrapper{
        width: 45px;
        height: 45px;
        padding: 9.5px;
        transform-origin: 22.5px 36.5px;
        transition: transform .3s ease-out;
    }
    .actionIcon{
        width: 26px;
        height: 26px;
        font-size: 26px;
        transform-origin: 13px 26px;
        color: var(--semi-color-text-0);
        cursor: pointer;
        transition: transform .2s ease-in-out;
    }
    .actionCount{
        width: 45px;
        font-size: 15px;
        line-height: 23px;
        color: var(--semi-color-text-0);
        text-align: center;
    }
}
.avatar{
    width: 42px;
    height: 42px;
    margin-bottom: 23px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--semi-color-bg-1);
    box-sizing: border-box;
    background-color: var(--semi-color-bg-0);
    .avatarImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@keyframes leftToRightBounce{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.bottomFade{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, rgba(0,0,0,.4) 0%, rgba(0,0,0,0) 100%);
    z-index: 5;
    pointer-events: none;
}

@keyframes slide-right-in {
    0% {
        transform: translateX(336px);
    }
    100% {
        transform: translateX(0);
    }
}
.commentSection{
    position: absolute;
    top: 0;
    right: 0;
    width: 336px;
    height: 100%;
    background-color: rgba(0, 0, 0, .32);
    z-index: 20;
    display: flex;
    flex-direction: column;
    animation: slide-right-in .2s ease-out;
    backdrop-filter: blur(10px);

    div[role="tablist"]{
        padding-left: 16px;
        height: 46px;

        div[role="tab"]{
            height: 49px;
            border-bottom-width: 3px;
            border-color: #fe2c55;
            padding-right: 0px;
            &:hover{
                border-bottom-width: 3px;
            }
        }
        div[x-semi-prop="tabBarExtraContent"]{
            height: 46px;
            line-height: 46px;
        }
    }
}
.tabContent{
    height: 100%;
    overflow: scroll;
}
.commentTabPane{
    height: calc(100% - 3px);
    *[x-semi-prop="children"]{
        height: 100%;
    }
}
.closeCommentButton{
    height: 36px;
    width: 36px;
    background-color: transparent !important;
    opacity: .5;

    &:hover{
        opacity: 1;
    }
}
