.commentCard{
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  position: relative;

  .commentAvatarWrapper{
    box-sizing: content-box;
    min-width: fit-content;
    margin-right: 8px;
    .commentAvatar{
      border: 1px solid transparent;
      box-sizing: content-box;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 4px;
    }
  }
  .commentContentWrapper{
    padding: 4px 0;
    .commentContent{
      .commentUsername{
        color: var(--semi-color-text-1);
        margin-bottom: 4px;
        height: 22px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        align-content: center;
      }
      .commentText{
        font-size: 13px;
        line-height: 22px;

      }
      .commentInfo{
        font-size: 12px;
        font-weight: 400;
        color: var(--semi-color-text-2);
        line-height: 20px;
      }
      .commentActionsWrapper{
        .commentActions{
          margin-top: 11px;
          color: var(--semi-color-text-2);
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          height: 20px;
          gap: 10px;
        }
      }
      .commentMenu{
        position: absolute;
        top: 4px;
        right: 8px;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;

        .commentMenuIcon{
          color: transparent;
          &:hover{
            color: var(--semi-color-text-0) !important;
          }
        }
      }
      &:hover{
        .commentMenuIcon{
          color: var(--semi-color-text-2) !important;
        }
      }
    }

  }
}

.commentList{
  padding: 0 16px;
  width: 100%;
}
.secondaryCommentList{
  .commentAvatar{
    width: 32px !important;
    height: 32px !important;
  }
}

.expandButtonWrapper{
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.moreCommentsLine{
  width: 26px;
  height: 1px;
  background-color: rgba(255,255,255,.2);
}
.expandButton{
  background: transparent !important;
  opacity: .34;
  cursor: pointer;
  font-size: 12px !important;
  padding: 0 8px !important;
  font-weight: 400 !important;
  &:hover{
    opacity: .9;
  }
}

.commentActionItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  .commentActionIconWrapper{
    height: 20px;
    width: 20px;
    padding: 2px;
    .commentActionIcon{
      font-size: 16px;
    }
  }
}

.sendCommentSection{
  margin-bottom: 16px;
  height: 44px;
  padding: 0 16px;
  .sendCommentInput{
    height: 44px;
    border-radius: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border: none !important;
    align-content: center;
    &:hover{
      outline: 1px solid rgba(255, 255, 255, .5);
      background-color: rgba(255,255,255,.2);
    }
    &:global(.semi-input-wrapper-focus){
      outline: 1px solid rgba(255, 255, 255, .5);

    }
    ::placeholder{
      color: var(--semi-color-text-3) !important;
    }
    input{
      border: none !important;
    }

    .sendCommentButton{
      position: relative;
      right: 10px;
      height: 24px;
      width: 24px;
      margin-left: 12px;
      border-radius: 50%;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px !important;
      background: #FE2C55;
      color: var(--semi-color-text-1);
    }
    .sendCommentActionButton{
      position: relative;
      right: 10px;
      height: 24px;
      width: 24px;
      margin-left: 12px;
      border-radius: 50%;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px !important;
      background: transparent;
      color: var(--semi-color-text-3);
      .sendCommentActionButtonIcon{
        color: var(--semi-color-text-3);
        &:hover{
          color: var(--semi-color-text-0);
        }
      }
    }
  }
}

.dropdownWrapper{
  border-radius: 12px !important;
  overflow: hidden;
  background-color: rgb(37,38,49) !important;
}
.commentMenuItem{
  border-radius: 8px;
  height: 30px;
}

