.commentList{
  padding: 0 16px;
  width: 100%;
}
.sendCommentSection{
  margin-bottom: 16px;
  height: 44px;
  padding: 0 16px;
  .sendCommentInput{
    height: 44px;
    border-radius: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border: none !important;
    align-content: center;
    &:hover{
      outline: 1px solid rgba(255, 255, 255, .5);
      background-color: rgba(255,255,255,.2);
    }
    &:global(.semi-input-wrapper-focus){
      outline: 1px solid rgba(255, 255, 255, .5);

    }
    ::placeholder{
      color: var(--semi-color-text-3) !important;
    }
    input{
      border: none !important;
    }

    .sendCommentButton{
      position: relative;
      right: 10px;
      height: 24px;
      width: 24px;
      margin-left: 12px;
      border-radius: 50%;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px !important;
      background: #FE2C55;
      color: var(--semi-color-text-1);
    }
    .sendCommentActionButton{
      position: relative;
      right: 10px;
      height: 24px;
      width: 24px;
      margin-left: 12px;
      border-radius: 50%;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px !important;
      background: transparent;
      color: var(--semi-color-text-3);
      .sendCommentActionButtonIcon{
        color: var(--semi-color-text-3);
        &:hover{
          color: var(--semi-color-text-0);
        }
      }
    }
  }
}

