.headerBar{
  height: 56px;
  color: var(--semi-color-text-0);
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;

  .searchTextbox{
    margin-left: calc(max((100% - 400px - 300px) * 0.8 , 8px));
    height: 56px;
  }
}
