.sidenav{
  padding: 2px 0 0 0;
  .separator{
    margin: 12px 24px 12px;
    border-bottom: 1px solid rgba(242,242,242,.12);
  }
  .sidenavItem {
    cursor: pointer;
    border: none !important;
    height: 40px;
    width: 128px;
    margin: 0px 16px 2px;
    border-radius: 12px;
    font-size: 16px;
    padding: 8px 0 8px 16px;
    transition: background-color .2s ease-in, color .2s ease-in;
    position: relative;

    &:hover{
      background-color: var(--semi-color-bg-2);
      color: var(--semi-color-text-0) !important;
      .sidenavHoverItemContent{
        opacity: 1;
        display: block;
      }
    }

    .sidenavItemContent {
      display: flex;
      gap: 12px;
      align-items: end;
      font-weight: 500;
      .sidenavItemText {
        height: 21px;
        vertical-align: bottom;
      }
    }

    .sidenavHoverItemContent{
      position: absolute;
      right: 8px;
      top: 8px;
      opacity: 0;
      display: none;
      .refreshButton{
        height: 24px;
        width: 24px;
        font-size: 14px;
        padding: 5px;
      }
    }
  }
}
.sidenavCollapsed{
  padding: 8px 0 0 0;
  height: calc(100vh - 56px - 184px - 20px);
  overflow: scroll;
  .separator{
    margin: 0 18px 8px;
    height: 9px;
    width: 36px;
    border-bottom: 1px solid rgba(242,242,242,.12);
  }
  .sidenavItem {
    cursor: pointer;
    border: none !important;
    height: 52px;
    width: 52px;
    margin: 0px 10px 8px;
    border-radius: 12px;
    font-size: 12px;
    padding: 6px 8px;
    transition: background-color .2s ease-in, color .2s ease-in;
    position: relative;

    &:hover{
      background-color: var(--semi-color-bg-2);
      color: var(--semi-color-text-0) !important;
      &:has(.sidenavHoverItemContent){
        .sidenavItemContent :not(.sidenavItemText){
          opacity: 0;
        }
        .sidenavHoverItemContent{
          opacity: 1;
        }
      }
    }

    .sidenavItemContent {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      font-weight: 500;
      *{
        transition: opacity .15s linear;
      }
      .sidenavItemText {
        height: 19px;
        vertical-align: bottom;
        line-height: 19px;
      }

    }

    .sidenavHoverItemContent{
      z-index: 20;
      position: absolute;
      right: 14px;
      top: 6px;
      opacity: 0;
      transition: opacity .15s linear;
      .refreshButton{
        height: 24px;
        width: 24px;
        font-size: 22px;
        padding: 1px;
      }
    }
  }

}


.sidemenu{
  display: flex;
  justify-content: start;
  padding: 14px 0 14px 12px;
  .sidemenuItem{
    cursor: pointer;
    border: none !important;
    height: 32px;
    width: 32px;
    margin: 0px;
    border-radius: 12px;
    font-size: 18px;
    padding: 7px;
    transition: background-color .2s ease-in, color .2s ease-in;

    &:hover{
      background-color: var(--semi-color-bg-2);
      color: var(--semi-color-text-0) !important;
    }
  }
}
.sidemenuCollapsed{
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  .sidemenuItem{
    cursor: pointer;
    border: none !important;
    height: 32px;
    width: 32px;
    margin: 0 0 8px 0;
    border-radius: 12px;
    padding: 7px;
    font-size: 18px;
    transition: background-color .2s ease-in, color .2s ease-in;

    &:hover{
      background-color: var(--semi-color-bg-2);
      color: var(--semi-color-text-0) !important;
    }
  }
}


