.sidenav{
  padding: 2px 0 0 0;
}
.sidenavCollapsed{
  padding: 8px 0 0 0;
}
.sidenavItem {
  cursor: pointer;
  border: none !important;
  height: 40px;
  width: 128px;
  margin: 0px 16px 2px;
  border-radius: 12px;
  font-size: 16px;
  padding: 8px 0 8px 16px;
  transition: background-color .2s ease-in, color .2s ease-in;

  &:hover{
    background-color: var(--semi-color-bg-2);
    color: var(--semi-color-text-0) !important;
  }

  .sidenavItemContent {
    display: flex;
    gap: 12px;
    align-items: end;
    font-weight: 500;
    .sidenavItemText {
      height: 21px;
      vertical-align: bottom;
    }
  }
}

.sidenavItemCollapsed {
  cursor: pointer;
  border: none !important;
  height: 52px;
  width: 52px;
  margin: 0px 10px 8px;
  border-radius: 12px;
  font-size: 12px;
  padding: 6px 8px;
  transition: background-color .2s ease-in, color .2s ease-in;

  &:hover{
    background-color: var(--semi-color-bg-2);
    color: var(--semi-color-text-0) !important;
  }

  .sidenavItemContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    .sidenavItemText {
      height: 18px;
      vertical-align: bottom;
      line-height: 18px;
    }
  }
}
