.featuredTabs{
    height: 100%;
    :global(.semi-tabs-content){
        height: 100%;
        overflow: scroll;
    }
    div[role="tablist"]{
        border-bottom: none;

        div[role="tab"]{
            font-weight: 600;
            font-size: 16px;
            height: 46px;
            padding: 10px 0;
            align-content: center;
            border-bottom-width: 0px !important;
            &[aria-selected="true"]{
                border-bottom-color: #fe2c55;
                &:after{
                    content: "";
                    width: 16px;
                    height: 3px;
                    background: #fe2c55;
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translate(-50%, 9px);
                }
            }
            &:nth-last-child(1){
                margin-right: 20px;
            }
        }
        :global(.semi-overflow-list-scroll-wrapper){
            position: relative;
        }
        div[role="presentation"]{
            background: rgba(22,24,34,1);
            z-index: 20;
            padding: 6px;
            width: 32px;
            height: 32px;
            align-content: center;
            display: flex;
            button{
                padding: 0 !important;
                height: 20px !important;
                width: 20px !important;
                border-radius: 50% !important;
                font-size: 10px !important;
                filter: saturate(0);
                span{
                    font-size: 12px !important;
                }
                background-color: rgba(255,255,255,.02) !important;
                &:not([disabled]){
                    background-color: rgba(255,255,255,.07) !important;
                }
            }
            &:global(.semi-tabs-bar-arrow-start){
                box-shadow: rgba(22,24,34,1) -10px 0px 10px 0px;
                margin-right: 0;
            }
            &:global(.semi-tabs-bar-arrow-end){
                margin-left:0;
            }
        }
    }
}
